/* squiggle code */

* {
  box-sizing: border-box;
}

body {
  background-color: #f8f0e5;
}

.leftSquiggleContainer > *,
.rightSquiggleContainer > * {
  position: fixed;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
}

.leftSquiggle1,
.rightSquiggle1 {
  top: 0;

  max-width: 200px;

  animation: squiggleMove1 3s linear infinite;
}
.leftSquiggle1 {
  left: -70px;
}
.rightSquiggle1 {
  right: -70px;
}

.leftSquiggle2,
.rightSquiggle2 {
  bottom: 0;
  z-index: -1;

  max-width: 150px;

  animation: squiggleMove2 2s linear infinite;
}
.leftSquiggle2 {
  left: 0px;
}
.rightSquiggle2 {
  right: 0px;
}

.leftSquiggle3,
.rightSquiggle3 {
  top: 0;
  z-index: -2;

  max-width: 100px;

  animation: squiggleMove1 1s linear infinite;
}
.leftSquiggle3 {
  left: 60px;
}
.rightSquiggle3 {
  right: 60px;
}

.rightSquiggleContainer > * > img {
  transform: rotate(180deg);
}

@keyframes squiggleMove1 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-10%);
  }
}

@keyframes squiggleMove2 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(10%);
  }
}

/* content code */

.contentContainer {
  margin: 0 180px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */

  /* background-color: aqua; */
}

a {
  font-family: "Rubik", sans-serif;
  font-size: 10rem;
  text-decoration: none;

  text-align: center;
}

.bigLink {
  display: inline-block;
  color: #202020;
  text-shadow: 0px 0px #913a11, 0px 0px #e0b967;
  transition: 0.5s;
  animation: onLoad 2s 1;
}
.bigLinkContainer {
  /* background-color: aqua; */
  position: relative;
}
.bigLinkContainer:hover {
  cursor: pointer;
}

#bl1 {
  animation: onLoad 1.5s 1;
}
.bigLinkContainer:hover #bl1 {
  text-shadow: 10px 10px #913a11, 20px 20px #e0b967;
  transform: translateY(-90%);
}
#bl21 {
  animation: onLoad 2s 1;
  margin-right: 3rem;
}
.bigLinkContainer:hover #bl21 {
  text-shadow: 10px 10px #913a11, 20px 20px #e0b967;
  transform: translateX(-140px);
}
.bigLinkContainer:hover #bl22 {
  text-shadow: 10px 10px #913a11, 20px 20px #e0b967;
  transform: translateX(140px);
}
#bl3 {
  animation: onLoad 2.5s 1;
}
.bigLinkContainer:hover #bl3 {
  text-shadow: 10px 10px #913a11, 20px 20px #e0b967;
  transform: translateY(90%);
}

/* .bigLink:hover {
  text-shadow: 10px 10px #913a11, 20px 20px #e0b967;
} */

@keyframes onLoad {
  0% {
    transform: translateY(100vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

.revealedContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.4s;
}
#rc1 {
  width: 500px;
  text-align: right;
}
#rc1 img {
  margin-left: 10px;
}

#rc2 {
  transform: translate(-250px, -50%);
  width: 290px;
}
#rc2 img {
  margin-right: 10px;
}

.bigLinkContainer:hover .revealedContainer {
  opacity: 1;
}

p {
  color: #202020;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: 500;
}
